{% extends 'PatternBuddy/base.html' %}
{% block content %}
        <h1>Repository Loader</h1>

        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

        <form action="{% url 'repository:submit' %}" method="post">
            {% csrf_token %}
            <label for="repository_url">Repository name or URL</label>
            <input type="text" name="repo_textfield" id="repository_url"/>
            <input type="submit" value="Search"/>
        </form>
{% endblock %}